.circle-image-container {
    position: relative;
    width: 31%;
    height: 800px; /* Módosítva a konténer magasságára */
}

.circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 800px;
    background-color: #f0f0f0;
    border-radius: 0 100% 100% 0;
    border: 100px orange;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 0 100% 100% 0;
}

.circle-image-container::before,
.circle-image-container::after {
    content: "";
    position: absolute;
    width: 500%;
    height: 7px;
    background-color: orange;
    z-index: 1; /* hogy a vonal a többi tartalom felett legyen */
}

.circle-image-container::before {
    top: 0;
}

.circle-image-container::after {
    bottom: 0;
}

.box {
    position: absolute;
    top: 30%;
    left: 180%; 
    width: 80%; /* Adjust the width based on your needs */
    background-color: #f0f0f0;
    
}
    