/* A háttér színe #2f2f2f legyen */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.background {
    background-color: #2f2f2f;
    font-family: 'Roboto', sans-serif;
}


.circle-image-container {
    position: relative;
    width: 40%;
    height: 800px; /* Módosítva a konéner magasságára */
}

.circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 800px;
    background-color: #f0f0f0;
    border-radius: 0 100% 100% 0;
    border: 100px orange;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 0 100% 100% 0;
}



.text-container {
    position: absolute;
    top: 45%;
    left: 170%; 
    transform: translate(-50%, -50%);
    background-color: #ffb366;
    border: 2px solid black;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
}

.text-container h1 {
    font-size: 2em; /* például nagyobb betűméret */
    color: #333; /* például más szín */
    font-weight: bold; /* például vastagabb betű */
}
.left-icon {
    position: absolute;
    top: 90%;
    left: 10px; /* Változtasd meg az igényeidnek megfelelően */
    transform: translateY(-50%);
}

.right-icon {
    position: absolute;
    top: 90%;
    right: 10px; /* Változtasd meg az igényeidnek megfelelően */
    transform: translateY(-50%);
}