 .body-login {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/login.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle-button {
    position: absolute;
    right: 10px; /* Az input mező jobb szélétől való távolság */
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.8; 
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
}

.login-button-github, .login-button-google, .login-button-facebook {
    width: 32%;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
    border-radius: 50px; 
    color: black;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
     line-height: 1.5; 
}

.login-button-github {
    background-color: rgba(45, 186, 78, 0.3);
}

.login-button-google {
    background-color: rgba(234, 67, 53, 0.3);
}

.login-button-facebook {
    background-color: rgba(83, 119, 242, 0.3);
}


.login-button .fa-icon {
    margin-right: 8px;
}

